.vs
.vscode

[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Ll]og/
[Ll]ogs/
CMakeSettings.json

*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.gch
*.pch
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.spv
/resources/shaders/*.spv